<% layout("layouts/boilerplate") %> 



<div class="container">
    <div class="row py-0 mt-0 align-items-center">
        <!-- Left Side -->
        <div class="col-lg-5 pr-lg-5 mb-5 ms-5 mb-md-0">
            <img src="/media/img/muffinLogin.png" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Log in</h1>
            <p class="font-italic text-muted mb-0">Log in to your account and explore reviews and recommendations of the Best Restaurants!</p>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ms-auto">
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="row">

                    <!-- Username -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                &nbsp;<i class="fa fa-user-circle text-muted"></i>
                            </span>
                        </div>
                        <input id="username" type="text" name="username" placeholder="Username" class="form-control bg-white border-md" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>
                    
                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                &nbsp;<i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group mb-2 d-flex justify-content-center">
                            <button class="btn btn-primary font-weight-bold w-50">Login</button>
                        </a>
                    </div>
                
                    <!-- Don't have an account -->
                    <div class="d-flex justify-content-center">
                        <p class="text-muted font-weight-bold">Don't have an account? <a href="/register" class="text-primary">Register</a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

